__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
settings.json
build/
dist/
tests/*.new.maf
tests/*.new.vcf
tests/*.vep.vcf
tests/*.pairs.tsv
tests/*.zip
tests/*.fa
tests/*.fa.gz
tests/*.fa.fai
tests/*.fasta
tests/*.fasta.gz
tests/*.fasta.fai
tests/homo_sapiens/
tests/homo_sapiens_vep_*_GRCh38_chr21.tar.gz
